* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  color: #2b2c34;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

.container {
  max-width: 40rem;
  margin: 0 auto;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.error {
  font-weight: bold;
  color: red;
}

.button {
  border: none;
  color: white;
  background-color: #c54740;
  padding: 0.5rem 0.7rem;
  border-radius: 0.2rem;
}

.button:hover {
  cursor: pointer;
  background-color: #c71717;
  transition: 200ms;
}

.list-item {
  list-style: none;
}
